<launch>
    <include file="$(find catvehicle)/launch/catvehicle_neighborhood.launch"/>
    <node name="HardwareListener" pkg="object_avoidance" type="HardwareListener.py" output="screen"/>
    <node name="CourseCorrection" pkg="object_avoidance" type="CourseCorrectionPublisher.py" output="screen"/>
</launch>